name: Update packages and cache version

on:
  push:
    branches:
      - master
    paths:
      - ".github/workflows/**"
      - "migrations/**"
      - "exec/**"
      - "src/**"
      - "requirements.txt"

jobs:
  run-tools:
    runs-on: [ self-hosted, network-access ]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Grand permissions to executable scripts
        run: |
          chmod +x exec/prepare
          chmod +x exec/run-with-config

      - name: Setup Python
        run: exec/prepare

      - name: Run migrator
        run: exec/run-with-config db_migrator \
          "${{ secrets.CONFIG_FILE_CONTENT }}" \
          --pipeline self

      - name: Cache version
        run: exec/run-with-config cache_version \
          "${{ secrets.CONFIG_FILE_CONTENT }}" \
          --repo ${{ github.repository }}

      - name: Run packages grabber
        run: exec/run-with-config packages_grabber \
          "${{ secrets.CONFIG_FILE_CONTENT }}" \
          --repo ${{ github.repository }}

      - name: Run project analyzer
        run: exec/run-with-config project_analyzer \
          "${{ secrets.CONFIG_FILE_CONTENT }}" \
          --repo ${{ github.repository }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
